html, body {
 margin: 0;
 padding: 0;
 background-color: #000000; 
 font-family: Arial, sans-serif; 
 font-size: 100%;color:red;
 background: url("Photos/sphere.png") no-repeat center fixed;
 -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */}

  #footer{
	position: fixed;
	bottom: 5px;
	left: 500px;
	color: black;
	display: block;
	height: 50px;
	}

.bouton
img{
    position: absolute;
    right: 35px;
    bottom: 16px;
}