

 #banner1{
	display: block;
	height: 100px;
	width: 100%;
}

#Menu{
	width: 100;
	position: relative;
}

#Menu ul {
	float: left;
	height: 600px;
}

#Menu ul li{
	float: left;
	list-style-type: none;
	margin-left: 20px;
}

#Menu ul li a{
	display: inline-block;
margin-top: 25px;
	padding: 0px;
	background color: #000000;
	color: black;
	height: 20px;
	width: 800px;
	text-decoration: none;
}
li {
font-family: Arial, sans-serif;
font-size: 300%;
color:rgb(35, 255, 42);
display : list-item;
list-style-image : url(puce.gif);
}

img{
    position: absolute;
    right: 35px;
    bottom: 16px;
}